

@font-face {
    font-family: New_font;
    src: url(fonts/6-font.otf);
  }
  
  body {
    width: 65%;
    margin: auto;
    background-color: rgb(204, 206, 206);
  }
  
  h1 {
    font-family: New_font, sans-serif;
    color: rgba(101, 80, 192, 0.822);
  }
  
  h2 {
    color: rgb(32, 46, 40);
  }
  
  a {
    color: rgb(24, 104, 158);
  }

  a1 {
    color: rgb(21, 167, 1);
  }
  
  img {
    margin-left: 15px;
    border: 2px solid rgb(49, 41, 41);
    
  }

  ul {
    list-style-type: square;
  }
  
  .big_text {
    font-size: 1.2rem;
  }
  
  a:hover {
    color: blue;
  }

  a1:hover{
    color: rgb(3, 78, 3)
  }